clientbox/Service References/ServiceReference100Mega/Default.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cybersoft.cz/I6/Web/WebService/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cybersoft.cz/I6/Web/WebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allow connect to information system CyberSoft-I6 via Web Service. Documentation see page: ReadMe.txt.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cybersoft.cz/I6/Web/WebService/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resultType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resultType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultByCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByFromTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resultType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="from" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="to" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultByFromToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultByFromToResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="GetResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetResultByCode" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToSoapIn">
    <wsdl:part name="parameters" element="tns:GetResultByFromTo" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultByFromToResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetResultHttpGetIn">
    <wsdl:part name="resultType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeHttpGetIn">
    <wsdl:part name="resultType" type="s:string" />
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToHttpGetIn">
    <wsdl:part name="resultType" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="to" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetResultHttpPostIn">
    <wsdl:part name="resultType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeHttpPostIn">
    <wsdl:part name="resultType" type="s:string" />
    <wsdl:part name="code" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultByCodeHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToHttpPostIn">
    <wsdl:part name="resultType" type="s:string" />
    <wsdl:part name="from" type="s:string" />
    <wsdl:part name="to" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetResultByFromToHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="I6_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Example method.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx.</wsdl:documentation>
      <wsdl:input message="tns:GetResultSoapIn" />
      <wsdl:output message="tns:GetResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by code - string identifier of row.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByCodeSoapIn" />
      <wsdl:output message="tns:GetResultByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by date - from/to.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByFromToSoapIn" />
      <wsdl:output message="tns:GetResultByFromToSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="I6_x0020_Web_x0020_ServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Example method.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx.</wsdl:documentation>
      <wsdl:input message="tns:GetResultHttpGetIn" />
      <wsdl:output message="tns:GetResultHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by code - string identifier of row.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByCodeHttpGetIn" />
      <wsdl:output message="tns:GetResultByCodeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by date - from/to.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByFromToHttpGetIn" />
      <wsdl:output message="tns:GetResultByFromToHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="I6_x0020_Web_x0020_ServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Example method.</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx.</wsdl:documentation>
      <wsdl:input message="tns:GetResultHttpPostIn" />
      <wsdl:output message="tns:GetResultHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by code - string identifier of row.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByCodeHttpPostIn" />
      <wsdl:output message="tns:GetResultByCodeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return result specified by resultType argument - for details about resultType see page: ResultTypeInfo.ashx. Result is filtered by date - from/to.</wsdl:documentation>
      <wsdl:input message="tns:GetResultByFromToHttpPostIn" />
      <wsdl:output message="tns:GetResultByFromToHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="I6_x0020_Web_x0020_ServiceSoap" type="tns:I6_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.cybersoft.cz/I6/Web/WebService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://www.cybersoft.cz/I6/Web/WebService/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <soap:operation soapAction="http://www.cybersoft.cz/I6/Web/WebService/GetResultByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <soap:operation soapAction="http://www.cybersoft.cz/I6/Web/WebService/GetResultByFromTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="I6_x0020_Web_x0020_ServiceHttpGet" type="tns:I6_x0020_Web_x0020_ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <http:operation location="/GetResult" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <http:operation location="/GetResultByCode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <http:operation location="/GetResultByFromTo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="I6_x0020_Web_x0020_ServiceHttpPost" type="tns:I6_x0020_Web_x0020_ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResult">
      <http:operation location="/GetResult" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByCode">
      <http:operation location="/GetResultByCode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultByFromTo">
      <http:operation location="/GetResultByFromTo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="I6_x0020_Web_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Allow connect to information system CyberSoft-I6 via Web Service. Documentation see page: ReadMe.txt.</wsdl:documentation>
    <wsdl:port name="I6_x0020_Web_x0020_ServiceSoap" binding="tns:I6_x0020_Web_x0020_ServiceSoap">
      <soap:address location="https://i6ws.100mega.cz/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="I6_x0020_Web_x0020_ServiceHttpGet" binding="tns:I6_x0020_Web_x0020_ServiceHttpGet">
      <http:address location="https://i6ws.100mega.cz/Default.asmx" />
    </wsdl:port>
    <wsdl:port name="I6_x0020_Web_x0020_ServiceHttpPost" binding="tns:I6_x0020_Web_x0020_ServiceHttpPost">
      <http:address location="https://i6ws.100mega.cz/Default.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>